


h1{font-style:oblique; text-align:center; color:green;}
h2{text-align:center;}
h3{text-align:center;}
ul{list-style-type:none;
   margin:0;
   padding:0;}
!< a{display:block;
  width:500px;
  background-color:#dddddd;}
body{background-color:#b0c4de;
     background-image:url('smallhorse.png');
     background-repeat:no-repeat;
     
     background-position:right top;
     margin-right:200px;}
p{text-indent:30px;}


