body { background-color: #b0c4de; font-family: sans-serif; padding: 20px; }
h1 { color: green; text-align: center; font-style: oblique; }
a { 
  display: block; 
  max-width: 500px; 
  background-color: #dddddd; 
  margin: 12px auto; 
  padding: 15px; 
  text-decoration: none; 
  color: black; 
  border-radius: 8px; 
  text-align: center;
}
a:hover { background-color: #4CAF50; color: white; }